.person-details {
  padding-top: 1.5em;
  align-self: flex-start;
  justify-self: flex-start;
}

.person-details h3 {
  font-size: 2em;
}

.person-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.person-details ul li {
  margin-top: 1em;
}

.person-details ul li p {
  font-size: 1.3em;
  padding: 0;
  margin: 0;
}

.person-details ul li h5 {
  font-size: 1.3em;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .person-details ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
  }
  .person-details ul li {
    margin-top: 0em;
  }
}
