.heading {
  background-color: #000;
  display: flex;
  align-items: center;
}

.heading i {
  padding-left: 1em;
}

.heading h1 {
  padding-left: 1em;
  font-size: 1.8em;
}

.additional-info {
  display: flex;
  gap: 15px;
  font-size: 1.5em;
  margin-left: auto;
  padding-right: 2em;
  justify-content: center;
  align-items: center;
}

i {
  font-size: 3em;
}

.additional-info i {
  margin: 0;
  padding: 0 0.3em;
  font-size: 1.3em;
}
