.App-header {
  margin: auto;
  min-height: 50vh;
  color: white;
  background: linear-gradient(rgba(28, 75, 99, 0.7), rgba(28, 75, 99, 0.7)),
    url("images/nicolas-j-leclercq-qDLLP0yP7FU-unsplash.jpg") center/cover
      no-repeat;
  display: flex;
  flex-direction: column;
}

.header-content {
  width: 60%;
  margin: auto;
}

.header-content h1 {
  font-size: 5em;
}

.header-content p {
  font-size: 2em;
}

.flex-horizontal {
  display: flex;
  height: 3em;
}

.flex-horizontal button {
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  background: linear-gradient(90deg, rgb(5, 230, 163), rgb(5, 162, 201));
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

.flex-horizontal input {
  flex-grow: 100;
  padding: 10px;
  margin-right: -20px;
  border-radius: 10px;
  border: none;
  font-size: 1.5em;
}
