.App-header {
  margin: auto;
  /* min-height: 50vh; */
  color: white;
  background: linear-gradient(#171652, #1c4b63b3),
    url("images/nicolas-j-leclercq-qDLLP0yP7FU-unsplash.jpg") center/cover
      no-repeat;
  display: flex;
  flex-direction: column;
}

.header-content {
  width: 60%;
  margin: auto;
  margin-bottom: 2em;
}

.header-content h1 {
  font-size: 5em;
}

.header-content p {
  font-size: 2em;
}

.flex-horizontal {
  margin-top: 5px;
  display: flex;
  height: 3em;
}

.flex-horizontal button {
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  background: linear-gradient(90deg, rgb(5, 230, 163), rgb(5, 162, 201));
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

.flex-horizontal input {
  flex-grow: 100;
  padding: 10px;
  margin-right: -20px;
  border-radius: 10px;
  border: none;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 780px) {
  .header-content {
    width: 90%;
  }
  .header-content h1 {
    font-size: 2em;
  }
  .header-content p {
    font-size: 1.2em;
  }
  .flex-horizontal {
    height: 2em;
  }
  .flex-horizontal button {
    font-size: 0.8em;
    width: 100px;
  }
  .flex-horizontal input {
    font-size: 0.8em;
  }
}
